:root{
  --color-green-a: rgba(34,139,34, .5);
  --color-green: rgba(34,139,34, 1);
  --color-blue-a: rgba(34, 34, 139, .5);
  --color-blue-b: rgba(34, 34, 139, .25);
}

/***********************************
Page Setup
***********************************/
body, html{
    all:unset;
    -ms-user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
    user-select:none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:18px;
    background-color:rgb(120, 150, 200);
}

body{
  display:grid;
  grid-template-columns: 76.5px 8fr 2fr;
  min-height:calc(100vh);
  grid-template-rows:  max-content auto  60px;
  grid-template-areas:
    "header header header"
    "nav main main"
    "footpad-l footer footpad-r";
}

/***********************************
Head
***********************************/
header{
grid-area:header;
}

.top--image{
  width:100%;
  height: auto;
  object-fit:fill;
  position:relative;
}

.top--image:after{
  content:' ';
  height:auto;
  width:100%;
  background-color:black;
  position:absolute;
}

/***********************************
Main Content
***********************************/
main{
  grid-area:main;
  min-height: calc(55px * 4);
}

p{
  text-indent: 3rem;
  max-width: calc(1rem * 60);
}

.game-container{
  display:flex;
  justify-content: space-around;
  align-items: center;
  min-height:fit-content;
  height:250px;
  flex-wrap: wrap;
}

.game-container a{
  height:300px;
  width: 300px;
  border:3.5px black solid;
  border-radius:25px;
  text-align: center;
  text-shadow:white 1px 1px 5px;
  font-weight:600;
  margin-top:5px;
}

.game-container a:hover{
  border:3.5px white solid;
  cursor: pointer;
}

#dage-table{
  background-image: url(../../assets/images/dage-table.jpg);
  background-size:cover;
  background-position:top;
}

#dnd-table{
  background-image: url(../../assets/images/dnd-table.jpg);
  background-size:cover;
  background-position:top;
}

#wod-table{
  background-image: url(../../assets/images/wod-table.png);
  background-size:cover;
  background-position:center;
  background-position-x:0;
}

#gurps-table{
  background-image: url(../../assets/images/gurps-table.jpg);
  background-size:cover;
  background-position:unset;
}

#digi-video{
  background-image: url(../../assets/images/digi-video.jpg);
  background-size:cover;
  background-position:right;
}

#dage-video{
  background-image: url(../../assets/images/dage-video.jpg);
  background-size:cover;
  background-position:top;
}

#loz-video{
  background-image: url(../../assets/images/loz-video.jpg);
  background-size:cover;
  background-position:left;
}

#mab-video{
  background-image: url(../../assets/images/mab-video.jpg);
  background-size:cover;
  background-position:top;
}
/***********************************
Nav-Bar
***********************************/


nav,a{
  all:unset;
}

nav{
  grid-area:nav;
  display:flex;
  flex-direction:column;
  justify-content:start;
  align-content:center;
  margin-right:7.5px;
  top:10px;
  position:sticky;
  height:fit-content;
}

.nav-button{
  margin-left:5px;
  padding:5px;
  height:50px;
  width:50px;
  cursor:pointer;
  background-color:var(--color-blue-a);
  border:2px solid slategray;
  border-radius:20px;
  overflow:hidden;
  margin-bottom:10px;
}

a:hover{
  background-color:var(--color-blue-b);
}
/***********************************
Footer
***********************************/
footer{
  grid-area:footer;
}

.footpad-r{
  grid-area:footpad-r;
}
.footpad-l{
  grid-area:footpad-l;
}

footer, .footpad-l, .footpad-r{
  background-color:var(--color-green-a);
}
